html {
    font-size: 62.5%;
}

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary colors */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /* Neutral colors */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    outline: none;
    display: inline-block;
}

img {
    width: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format("truetype");
}

body {
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.5;
    min-width: 320px;
    min-height: 100vh;
    color: var(--Dark-grayish-blue);
}

.app {
    padding: 1.5rem;
}

.cover {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var(--Very-dark-blue);
    opacity: 0.5;
}

.display {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.0rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2rem;
}

.desktop {
    display: none;
}

.page-logo img {
    width: 5.4rem;
}

picture img {
    margin-bottom: 1.5rem;
}

.page-title {
    font-size: 4.0rem;
    font-weight: 800;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--Very-dark-blue);
    margin-bottom: 1.2rem;
}

.hero-page a {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    margin-top: 2.0rem;
    letter-spacing: 0.7rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.additional-news {
    background-color: var(--Very-dark-blue);
    padding: 1.5rem;
}

h2 {
    color: var(--Soft-orange);
    font-size: 3.5rem;
    font-weight: 700;
}

.additional-news a {
    padding: 2.0rem 0;
}

h3 {
    color: var(--Off-white);
    font-size: 2.0rem;
    margin-bottom: 0.5rem;
}

.additional-news p {
    color: var(--Dark-grayish-blue);
}

.bonus-page h3  {
    color: var(--Very-dark-blue);
    font-weight: 800;
    text-transform: capitalize;
}

.article-number {
    color: var(--Grayish-blue);
    font-weight: 700;
    font-size: 4.2rem;
}

.bonus-page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.bonus-page a {
    display: flex;
}

.bonus-page article {
    display: flex;
    gap: 1.5rem;
    align-self: stretch;
}

.bonus-page img {
    width: 13.5rem;
    aspect-ratio: 4 / 5;
}

.additional-news h3:hover {
    color: var(--Soft-orange);
}

.bonus-page h3:hover {
    color: var(--Soft-red);
}

.hero-page a:hover {
    background-color: var(--Very-dark-blue);
}

.page-links a:hover {
    color: var(--Soft-orange);
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 70%;
    height: 100vh;
    padding: 1.5rem;
    background-color: var(--Off-white);
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    box-shadow: -0.8rem 0 2.4rem var(--Dark-grayish-blue);
}

.dropdown-close {
    width: 3.5rem;
    align-self: flex-end;
    cursor: pointer;
}

.link-group {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

.link-group a {
    color: var(--Very-dark-blue);
}

.article-summary {
    color: var(--Dark-grayish-blue);
}

@media screen and (min-width: 717px) {

    .menu-btn {
        display: none;
    }

    .desktop {
        display: block;
    }

    .page-links {
        display: flex;
        gap: 2.5rem;
    }

    .page-links a {
        color: var(--Dark-grayish-blue);
    }

    .hero-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    picture {
        grid-column: 1 / 3;
    }

    .additional-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .additional-news h2 {
        grid-row: 1 / 4;
        justify-self: center;
        align-self: center;
    }

    .bonus-page {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 1024px) {
    
    body {
        font-size: 1.7rem;
    }

    .bonus-page {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-page {
        grid-column: 1 / 3;
    }

    .hero-page img  {
        height: 28.5rem;
    }

    .hero-page a {
        width: fit-content;
        grid-column: 2 / 3;
    }

    .page-title {
        font-size: 5.8rem;
    }

    .additional-news {
        display: flex;
        flex-direction: column;
    }

    .additional-news h2 {
        align-self: start;
    }

    .bonus-page {
        grid-column: 1 / 4;
    }
}